.marquee-container {
    background-color: var(--color-signal-red);
    color: var(--color-white);
    overflow: hidden;
    padding: 1rem 0;
    white-space: nowrap;
    position: relative;
    z-index: 10;
}

.marquee-content {
    display: inline-block;
    font-family: var(--font-display);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.marquee-content span {
    margin-right: 2rem;
}